<section class="w-1/2 mx-auto bg-slate-100 p-4 my-3 rounded-md relative">
    <h1 class="text-emerald-400 font-black font-bold absolute top-5 end-5">Reset Password</h1>

    @if (resText) {
    <span class="bg-red-300 p-3">{{resText}}</span>
    }

    <form [formGroup]="ResetPasswordForm" (ngSubmit)="resetPassword()">
        <!-- New Password -->
        <div class="my-3">
            @let passwordFormControl = ResetPasswordForm.get('newPassword');
            <label for="newPassword" class="block mb-2 text-sm font-medium text-gray-900">New Password</label>
            <input [class]="{
                'my-valid': !passwordFormControl?.errors && (passwordFormControl?.touched || passwordFormControl?.dirty),
                'my-invalid': passwordFormControl?.errors && (passwordFormControl?.touched || passwordFormControl?.dirty)
            }" 
            type="password" id="newPassword" formControlName="newPassword"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" />

            @if (passwordFormControl?.errors && passwordFormControl?.touched) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Error</span>
                <div>
                    <span class="font-medium">Ensure that these requirements are met:</span>
                    <ul class="mt-1.5 list-disc list-inside">
                        @if (passwordFormControl?.getError('required')) { 
                            <li>Password is required</li> 
                        }
                        @if (passwordFormControl?.getError('minlength')) { 
                            <li>Password must be at least 6 characters</li> 
                        }
                    </ul>
                </div>
            </div>
            }
        </div>

        <!-- Submit Button -->
        <button [disabled]="ResetPasswordForm.invalid || loading" type="submit" 
            class="my-btn disabled:bg-slate-400">
            @if (!loading) { Reset Password }
            @if (loading) { <span><i class="fa-solid fa-spinner fa-spin"></i></span> }
        </button>
    </form>
</section>
