<section class="p-6 my-6 mx-auto rounded-md bg-[#f9f6f1] shadow-md w-[90%]">
  <h1 class="text-2xl font-bold text-[#1c1c1e] mb-6 text-center">All Categories</h1>

  <div class="grid gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
    @for (item of categoriesData; track item._id) {
      <div
        class="bg-white border border-gray-200 rounded-2xl shadow-sm hover:shadow-lg transition duration-300 overflow-hidden flex flex-col text-center h-full">

        <!-- Image -->
        <a [routerLink]="['/categories', item._id]" class="block h-48 w-full overflow-hidden">
          <img [src]="item.image" [alt]="item.name"
            class="w-full h-full object-fit-cover transition-transform duration-300 hover:scale-105" />
        </a>

        <!-- Title -->
        <div class="p-4">
          <h2 class="text-[#1c1c1e] font-semibold text-lg truncate">{{ item.slug }}</h2>
        </div>
      </div>
    }
  </div>
</section>
