<!-- ashan arabt ts form bel html
    1- binding aal formgroup w adeha esm elform group betaaty
    2-baroh l kol form control w adeha form control name 
    3-(ngsubmit) ma elform bas ama ados aaala ay input aw elzorar yaamel method mo3yna 
-->
<!-- dirty is true if there is change in value of the input -->
<!-- pristine is true law ana maadeltsh fel input -->

<section class="min-h-screen flex items-center justify-center bg-[#f9f6f1] px-4">
  <div class="w-full max-w-md bg-white p-10 rounded-2xl shadow-md border border-gray-200 animate-fade-in">
    <h2 class="text-3xl font-extrabold text-center text-[#1c1c1e] font-[PlayfairDisplay] tracking-tight">
      Reset Password
    </h2>
    <p class="text-sm text-center text-[#8e8e93] mt-1">Enter your email to receive a reset code</p>

    @if (resText) {
      <div class="bg-red-100 text-red-700 mt-6 p-3 rounded text-sm text-center">
        {{ resText }}
      </div>
    }

    <form [formGroup]="ForgotPasswordForm" class="mt-8 space-y-6">
      <!-- Email -->
      @let emailFormControl = ForgotPasswordForm.get('email');
      <div>
        <label for="email" class="text-sm text-[#1c1c1e] font-medium">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="mt-1 w-full bg-[#f9f6f1] text-[#1c1c1e] placeholder-[#8e8e93] border border-gray-300 rounded-md p-3 focus:outline-none focus:ring-2 focus:ring-[#d6c7ae]"
          placeholder="you@example.com"
        />
        @if (emailFormControl?.errors && emailFormControl?.touched) {
          <p class="text-xs text-red-500 mt-1">
            @if (emailFormControl?.getError('required')) { Email is required. }
            @if (emailFormControl?.getError('email')) { Invalid email format. }
          </p>
        }
      </div>

      <!-- Send Code Button -->
      <button
        [disabled]="ForgotPasswordForm.invalid || loading"
        (click)="sendVerificationCode()"
        type="button"
        class="w-full py-3 rounded-md text-white bg-[#d6c7ae] hover:bg-[#c5b58f] font-semibold transition-all duration-300 transform hover:scale-105 hover:shadow-lg disabled:bg-gray-300"
      >
        @if (!loading) {
          <span class="flex items-center justify-center gap-2">
            Send Code
            <i class="fa-solid fa-paper-plane"></i>
          </span>
        }
        @if (loading) {
          <span class="loader-ecom"></span>
        }
      </button>
    </form>
  </div>
</section>
