
    <!-- ashan arabt ts form bel html
    1- binding aal formgroup w adeha esm elform group betaaty
    2-baroh l kol form control w adeha form control name 
    3-(ngsubmit) ma elform bas ama ados aaala ay input aw elzorar yaamel method mo3yna 
-->
<!-- dirty is true if there is change in value of the input -->
 <!-- pristine is true law ana maadeltsh fel input -->



 <section class="w-1/2 mx-auto bg-slate-100 p-4 my-3 rounded-md relative">
    <h1 class="text-emerald-400 font-black font-bold  absolute top-5 end-5 ">Login</h1>
     
    @if (resText) {
        <span class="bg-red-300 p-3">{{resText}}</span>

    }
    <form [formGroup]="LoginForm" (ngSubmit)="login()">


        <!-- email -->
        <div class="my-3">
            @let emailFormControl = LoginForm.get('email');
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email
            </label>
            <input [class]="{
                'my-valid':!emailFormControl?.errors && (emailFormControl?.touched || emailFormControl?.dirty),
                'my-invalid': emailFormControl?.errors && (emailFormControl?.touched || emailFormControl?.dirty)
        
                
            }"
            type="email" id="email" formControlName="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" />
            @if(emailFormControl?.errors && emailFormControl?.touched){
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                    <span class="font-medium">Ensure that these requirements are met:</span>
                    <ul class="mt-1.5 list-disc list-inside">
                        @if(emailFormControl?.getError('required')){ <li>Email is required</li>
                        }
                        @if (emailFormControl?.getError('email')) { <li> Email format is incorrect
                        </li>

                        }

                    </ul>
                </div>
            </div>
            }
        </div>
        <!-- password -->
        <div class="my-3">
            @let passFormControl = LoginForm.get('password');
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
            <input [class]="{
                'my-valid':!passFormControl?.errors && (passFormControl?.touched || passFormControl?.dirty),
                'my-invalid': passFormControl?.errors && (passFormControl?.touched || passFormControl?.dirty)
        
                
            }"
            
            type="password" id="password" formControlName="password"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" />

            @if(passFormControl?.errors && passFormControl?.touched){
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                    <span class="font-medium">Ensure that these requirements are met:</span>
                    <ul class="mt-1.5 list-disc list-inside">
                        @if(passFormControl?.getError('required')){ <li>Password input is required</li>
                        }
                        @if (passFormControl?.getError('pattern')) { <li>please write a valid password
                        </li>

                        }

                    </ul>
                </div>
            </div>
            }
        </div>


        <button [disabled]="LoginForm.invalid" type="submit" class="my-btn  disabled:bg-slate-400">
            @if (!loading) { Sign In <span> <i class="fa-solid fa-arrow-right-to-bracket"></i></span>}
            @if (loading){ <span><i class="fa-solid fa-spinner fa-spin"></i></span>}

        </button>

        <button (click)="goToForgotPassword()">Forgot Password?</button>
    </form>

</section>