<!-- main slider -->
<section class="p-4 my-5">
    <div class="container w-[90%] mx-auto">

        <div class="flex flex-wrap">

            <div class="w-full sm:w-full md:w-1/2 lg:w-3/4">
                <owl-carousel-o [options]="mainSliderOptions">
                    <ng-template carouselSlide>
                        <img src="./images/img1.avif" alt="" class="h-80">
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="./images/img2.avif" alt="" class="h-80">
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="./images/img3.avif" alt="" class="h-80">
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="./images/img4.avif" alt="" class="h-80">
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="./images/img5.avif" alt="" class="h-80">
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="./images/img6.avif" alt="" class="h-80">
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="./images/img7.avif" alt="" class="h-80">
                    </ng-template>


                </owl-carousel-o>
            </div>

            <div class="w-full sm:w-full md:w-1/2 lg:w-1/4">
                <img src="./images/grocery-banner.png" alt="" class="h-40">
                <img src="./images/grocery-banner-2.jpeg" alt="" class="h-40">
            </div>
        </div>


    </div>
</section>


@if (productsData!=null && categoriesData!=null) {
<!-- categories section -->
<section class="p-4 my-5">
    <div class="container w-[90%] mx-auto">
        <h1 class="main-style-header">All categories</h1>

        <owl-carousel-o [options]="categoriesSliderOptions">

            @for (category of categoriesData ; track category._id) {
            <ng-template carouselSlide>
                <img [src]="category.image" class="w-full h-[250px]" [alt]="category.name">
            </ng-template>
            }

        </owl-carousel-o>
    </div>
</section>
<!-- product section -->
<section class=" rounded p-4 my-5">
    <input [(ngModel)]="searchValue" type="text" placeholder="Search by name ...."
        class="p-4 mx-auto block rounded w-[50%]">
    <div class="container w-[90%] mx-auto ">

        <h1 class="main-style-header">recommended products</h1>
        <div class="grid gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5">
            @for (product of productsData.slice(0,40) | search : searchValue; track product._id) {
            <div class="product cursor-pointer p-4">
                <div [routerLink]="[ '/product-Details', product._id]">
                    <div class="mt-4">
                        <img [src]="product.imageCover" [alt]="product.title">
                    </div>

                    <div class="mt-4">
                        <h2 class="text-main">{{product.category.name}}</h2>
                        <h1 class="font-black">{{product.title.split(' ').slice(0,3).join(' ')}}</h1>

                    </div>
                    <div class="flex flex-wrap justify-between mt-4">
                        <h3>{{product.price}}</h3>
                        <span><i class="fa-solid fa-star rating-color"></i> {{product.ratingsAverage}}</span>
                    </div>
                </div>

                <div class="flex flex-wrap justify-end">
                    <i (click)="addToWishlist(product._id)"
                        class="fa-solid fa-heart text-xl transition-colors duration-500"
                        [class.text-red-600]="wishlistIds.includes(product._id)"
                        [class.text-gray-600]="!wishlistIds.includes(product._id)">
                    </i>
                </div>


                <div class="mt-4">
                    <button (click)="addToCart(product._id)" class="btn-main w-3/4 mx-auto block"> + Add to
                        cart</button>
                </div>
            </div>

            }
        </div>
    </div>

</section>
}