<section
  class="w-full md:w-1/2 mx-auto bg-[#f9f6f1] p-6 my-8 rounded-2xl shadow-md animate__animated animate__fadeInUp"
>

  <form [formGroup]="detailsForm" (ngSubmit)="detailsSubmit()">
    
    <!-- Details -->
    <div class="mb-5">
      @let details = detailsForm.get('email');
      <label for="details" class="block mb-2 text-sm font-semibold text-[#1c1c1e]">Details</label>
      <input
        [class]="{
          'my-valid': !details?.errors && (details?.touched || details?.dirty),
          'my-invalid': details?.errors && (details?.touched || details?.dirty)
        }"
        type="text"
        id="details"
        formControlName="details"
        class="bg-white border border-gray-300 text-[#1c1c1e] text-sm rounded-lg block w-full p-3 focus:ring-[#d6c7ae] focus:border-[#d6c7ae] transition duration-300"
      />
    </div>

    <!-- Phone -->
    <div class="mb-5">
      @let phone = detailsForm.get('phone');
      <label for="phone" class="block mb-2 text-sm font-semibold text-[#1c1c1e]">Phone</label>
      <input
        [class]="{
          'my-valid': !phone?.errors && (phone?.touched || phone?.dirty),
          'my-invalid': phone?.errors && (phone?.touched || phone?.dirty)
        }"
        type="tel"
        id="phone"
        formControlName="phone"
        class="bg-white border border-gray-300 text-[#1c1c1e] text-sm rounded-lg block w-full p-3 focus:ring-[#d6c7ae] focus:border-[#d6c7ae] transition duration-300"
      />
    </div>

    <!-- City -->
    <div class="mb-5">
      @let city = detailsForm.get('city');
      <label for="city" class="block mb-2 text-sm font-semibold text-[#1c1c1e]">City</label>
      <input
        [class]="{
          'my-valid': !city?.errors && (city?.touched || city?.dirty),
          'my-invalid': city?.errors && (city?.touched || city?.dirty)
        }"
        type="text"
        id="city"
        formControlName="city"
        class="bg-white border border-gray-300 text-[#1c1c1e] text-sm rounded-lg block w-full p-3 focus:ring-[#d6c7ae] focus:border-[#d6c7ae] transition duration-300"
      />
    </div>

    <!-- Submit Button -->
    <div class="mt-6 text-right">
      <button
        type="submit"
        class="bg-[#d6c7ae] hover:bg-[#c5b58f] text-white font-semibold py-2 px-6 rounded-xl shadow transition-all duration-300 transform hover:scale-105 hover:shadow-lg"
      >
        Payment <i class="fa-brands fa-cc-visa ml-2"></i>
      </button>
    </div>
  </form>
</section>
